<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Auth testing app
    </h1>
</div>
<div class="spread">
    <button (click)="auth.windowOpen({ttl: '1'})">Login small window</button>
    <button (click)="auth.tabOpen({ttl: '1'})">Login new tab</button>
    <button (click)="auth.logOut()">Logout</button>
</div>
<div *ngIf="(credentials | async) as user; else loggedOut">
    <p>Real name: {{ user.realname }}</p>
    <p>Username: {{ user.username }}</p>
    <p>Token: {{ user.token }}</p>
</div>
<ng-template #loggedOut>
    <p>Please, log in.</p>
</ng-template>

<h3>Alternative approach</h3>
<div>
    <p>Authenticated: {{ isAuthenticated|async }}</p>
    <p>Real name: {{ realname|async }}</p>
    <p>Username: {{ username|async }}</p>
    <p>Expiration: {{ expiration|async }}</p>
    <p>Token: {{ token|async }}</p>
</div>
