<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Auth testing app
    </h1>
</div>
<div class="spread">
    <button (click)="auth.windowOpen({ttl: '1'})">Login small window</button>
    <button (click)="auth.tabOpen({ttl: '1'})">Login new tab</button>
    <button (click)="auth.logOut()">Logout</button>
</div>
<div *ngIf="(user | async) as user; else loggedOut">
    <p>Unique ID: {{ user.uid }}</p>
    <p>Name: {{ user.name }}</p>
    <p>Nickname: {{ user.nickname }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Token: {{ user.token }}</p>
</div>
<h3>Advanced handling of tokens:</h3>
<div>
    <p>Can we present the token to servers? {{ isAuthenticated | async }}</p>
    <div *ngIf="(expiration | async) as expiration">
        <p>Expiration date of the token: {{ expiration }}</p>
    </div>
</div>
<ng-template #loggedOut>
    <p>Please, log in.</p>
</ng-template>
